h1, h3{
	text-align: center;
	margin-bottom: 50px;
}

form {
	text-align: center;
}

#legende {
	text-align: center;
	width: 300px;
	margin: auto;
}

.btn{
	width: 300px;
}

img {
	padding-top: 15px;
	padding-bottom: 15px;
}